* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-margin: 60px;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #121212;
}

body.light-mode {
  background-color: #ffffff;
  color: #2d2d2d;
}

.navbar {
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  background-color: rgba(60, 60, 60, 0.974);
  position: sticky;
  top: 0;
  z-index: 1;
}

body.light-mode .navbar {
  background-color: #f7f7fff5;
}

.logo {
  padding-left: 5vw;
  font-size: 30px;
  font-weight: 600;
  color: #f06262;
}

body.light-mode .logo {
  color: #627ef0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  margin-right: 2vw;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-right: 40px;
}

.nav-links.show {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  right: -40px;
  background-color: #322727;
  padding: 10px 20px;
  border-radius: 10px;
  z-index: 2;
}

body.light-mode .nav-links.show {
  background-color: #ffe2e2;
}


.links {
  text-decoration: none;
  color: #f06262;
  font-size: 18px;
  font-weight: 500;
  align-self: center;
}

body.light-mode .links {
  color: #627ef0;
}

.links:hover {
  color: #f9a825;
}

body.light-mode .links:hover {
  color: #f9a825;
}

.theme {
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.menuIcon,
.closeIcon {
  display: none;
  font-size: 30px;
  color: #f06262;
  cursor: pointer;
  font-weight: 700;
  width: 30px;
}

body.light-mode .menuIcon,
.closeIcon {
  color: #627ef0;
}

.hero {
  text-align: center;
  padding: 100px 20px 80px;
  background: linear-gradient(to right, #1e1e1e, #2e2e2e);
}

body.light-mode .hero {
  background: linear-gradient(to right, #e7edff, #ffffff);
}

.hero h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 10px;
  background: linear-gradient(to right, #ff6b6b, #4ecdc4, #ffd166, #6a0572, #ab83a1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero p {
  font-size: 1.2rem;
  background: linear-gradient(to right, #05ffea, #ee00ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 30px;
}

.explore-btn {
  background-color: #f06262;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.explore-btn:hover {
  background-color: #f9a825;
}

body.light-mode .explore-btn {
  background-color: #627ef0;
}

body.light-mode .explore-btn:hover {
  background-color: #f9a825;
}

.categories {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 50px 0;
  flex-direction: column;
  text-align: center;
}

body.light-mode .categories {
  background-color: #ffffff;
}

.categories h2 {
  font-size: 2rem;
  margin-bottom: 40px;
  color: #f9a825;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  padding: 0 20px;
}

.category-card img {
  width: 200px;
}

.category-card {
  background-color: #1c1616;
  border-radius: 10px;
  padding: 25px;
  box-shadow: 0 8px 15px rgba(229, 26, 26, 0.529);
  transition: transform 0.3s, box-shadow 0.3s;
}

body.light-mode .category-card {
  background-color: #fdfdfd;
  box-shadow: 0 8px 15px rgba(116, 146, 255, 0.611);
}

.category-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 20px rgba(255, 251, 18, 0.4);
}

body.light-mode .category-card:hover {
  box-shadow: 0 12px 20px rgba(255, 174, 0, 0.786);
}

.categories-card img {
  max-width: 80px;
  margin-bottom: 15px;
}

.category-card h3 {
  font-size: 1.4rem;
  margin-bottom: 10px;
  color: #fff;
}

body.light-mode .category-card h3 {
  color: #000;
}

.category-card p {
  font-size: 0.95rem;
  color: #aaa;
  margin-bottom: 15px;
}

.category-card a {
  background-color: #f9a825;
  color: #000000;
  padding: 8px 16px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
}

.category-card a:hover {
  background-color: #ffd54f;
}

.contact {
  background-color: #1e1e1e7e;
  color: #f06262;
  padding: 50px 20px;
  text-align: center;
}

body.light-mode .contact {
  background-color: #ededed;
  color: #627ef0;
}

.contact h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.contact p {
  font-size: 1.1rem;
  margin-bottom: 30px;
}

.contact form {
  max-width: 600px;
  margin: 0 auto;
}

.contact form input,
.contact form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  background-color: #2e2e2e;
  color: #fff;
}

body.light-mode .contact form input {
  background-color: #afc4ff;
}

body.light-mode .contact form textarea {
  background-color: #afc4ff;
}

.contact button {
  background-color: #f06262;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
}

body.light-mode .contact button {
  background-color: #627ef0;
}

.contact button:hover {
  background-color: #ffd166;
  color: #000000;
}

body.light-mode .contact button:hover {
  background-color: #f9a825;
}

.footer {
  background-color: #1e1e1e;
  color: #f06262;
  text-align: center;
  padding: 20px;
}

body.light-mode .footer {
  background-color: #dfe0ff;
}

.footer p {
  font-size: 0.9rem;
  color: #999;
}

body.light-mode .footer p {
  color: #000000;
}

.footer a {
  color: #f9a825;

}

body.light-mode .footer a {
  color: #f9a825;

}

@media screen and (max-width: 768px) {

  .logo {
    font-size: 1.5rem;
  }

  .nav-links {
    display: none;
  }

  .menuIcon,
  .closeIcon {
    display: block;
  }

  .hero {
    text-align: center;
    padding: 25vh 20px 80px;
    height: 80vh;
  }

  .hero h1 {
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .hero p {
    font-size: 0.9rem;
  }

  .footer p {
    font-size: 0.9rem;
  }
}


/* sort page */

#sort-page {
  padding: 50px 20px;
  color: #fff;
}

body.light-mode #sort-page {
  color: #2d2d2d;
}

.sort-selector {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin:0 60px 40px 60px;
}

.sort-selector a{
  text-decoration: none;
  color: #fff;
}

.sort-btn {
  background-color: #f06262;
  color: white;
  border-radius: 8px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

body.light-mode .sort-btn {
  background-color: #627ef0;
}

.sort-btn:hover {
  background-color: #bc2a2a;
}

body.light-mode .sort-btn:hover {
  background-color: #2a47bc;
}

.sort-btn.active {
  background-color: #f9a825;
  color: #000000;
}

body.light-mode .sort-btn.active {
  background-color: #f9a825;
  color: #000000;
}

.sort-desc {
  /* max-width: 800px; */
  margin: 60px;
  padding: 40px;
  background-color: #543939;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
  color: #a4a4a4;
}

.sort-desc strong {
  color: white;
}

body.light-mode .sort-desc strong {
  color: rgb(0, 0, 0);
}

body.light-mode .sort-desc {
  background-color: #e2e3ff;
  color: #212121;
}

.visualizer-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #1c1616;
  gap: 30px;
  margin: 60px;
  border-radius: 20px;
  padding: 40px;
}

body.light-mode .visualizer-layout {
  background-color: #d0daff;
}

.left-panel {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.step-info {
  height: 300px;
  flex: 1;
  background-color: #392d2f;
  color: #f8f8f2;
  padding: 15px;
  border-radius: 10px;
  font-size: 1.1rem;
  max-height: 400px;
  overflow-y: auto;
  transition: all 0.3s ease;
  padding-left: 30px;
}

body.light-mode .step-info {
  background-color: #b4bfff;
  color: #000;
}

.step-info li {
  padding: 4px 6px;
  margin-bottom: 3px;
  border-radius: 6px;
}

.step-info li.current {
  background-color: #ff8b8b;
  font-weight: bold;
  border-left: 4px solid #ff0000;
}

body.light-mode .step-info li.current {
  background-color: #7291ff;
  font-weight: bold;
  border-left: 4px solid #0013c1;
}

.bar-wrapper {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
}

.bars-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 300px;
  margin-top: 35px;
  background-color: #413434;
  padding: 10px;
  border-radius: 8px;
  overflow-x: auto;
  width: 100%;
  min-width: max-content;
}

body.light-mode .bars-container {
  background-color: #f4f6ff;
}

.bar-index-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9.5px;
  height: 40px;
  margin-top: 5px;
  font-size: 0.9rem;
  color: #aaa;
  width: 100%;
  min-width: max-content;
  padding: 15px;
}

.bar-index {
  width: 30px;
  text-align: center;
  font-weight: bold;
  color: #ccc;
}

body.light-mode .bar-index {
  color: #333;
}

.bar {
  font-size: 12px;
  color: #000;
  width: 30px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-radius: 4px;
  transition: height 0.3s, background-color 0.3s;
  background-color: #61dafb;
}

.bar.comparing {
  background-color: yellow !important;
  transform: scale(1.1);
}

.bar.swapping {
  background-color: red !important;
  transform: scale(1.15);
}

.bar.sorted {
  background-color: #2ecc71 !important; /* greenish shade */
  transition: background-color 0.5s ease;
}

.input-section {
  margin-bottom: 20px;
}

.input-section input {
  padding: 10px;
  width: 60%;
  max-width: 300px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
}

.input-section button {
  padding: 10px 15px;
  background-color: #f06262;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

.input-section button:hover {
  background-color: #f9a825;
  color: black;
}

body.light-mode .input-section button {
  background-color: #4c70ff;
}

body.light-mode .input-section button:hover {
  background-color: #1f46e2;
  color: #ffffff;
}

.control-panel {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.control-panel button,
.control-panel input[type="range"] {
  padding: 8px 12px;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
}

.control-panel button {
  background-color: #f06262;
  color: white;
  cursor: pointer;
}

.control-panel button:hover {
  background-color: #f9a825;
  color: black;
}

body.light-mode .control-panel button {
  background-color: #627ef0;
}

body.light-mode .control-panel button:hover {
  background-color: #4c70ff;
  color: #ffffff;
}

.speed {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sort-lan-selector {
  margin: 40px 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
}

.sort-lan-btn {
  background-color: #4ecdc4;
  border: none;
  color: #000000;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

.sort-lan-btn:hover {
  background-color: #bffaf5;
}

.sort-lan-btn.active {
  background-color: #ffd166;
}

.code-display {
  margin: 60px;
  padding: 40px;
  background-color: #1c1616;
  border-radius: 12px;
  color: #fff;
  white-space: pre-wrap;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
}

body.light-mode .code-display {
  background-color: #dee9ff;
  color: #000;
}

.code-display p {
  font-size: 1.1rem;
}

#copy-btn {
  width: 25px;
  height: 25px;
  background-color: #ffb6b6;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
}

body.light-mode #copy-btn {
  background-color: #b6c5ff;
}

@media screen and (max-width: 768px) {

  .sort-selector{
    margin: 0 20px 40px 20px;
  }
  .visualizer-layout {
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    gap: 15px;
  }

  .step-info {
    max-height: none;
    margin-top: 20px;
  }

  .input-section input {
    width: 80%;
    margin-bottom: 10px;
  }

  .sort-desc {
    font-size: 0.95rem;
    padding: 20px;
    margin: 20px;
    margin-bottom: 50px
  }

  .bar-wrapper{
    width: 70vw;
    /* overflow-x: auto; */
  }

  .bars-container,
  .bar-index-container {
    width: 70vw;
  }

  .bar {
    width: 12px;
  }

  .code-display{
    padding: 15px;
    margin: 20px;
  }

  .code-display p {
    font-size: 0.8rem;
  }

  .step-info{
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
  }

  .sort-lan-selector{
    margin: 40px 20px;
  }
}

#codeBox {
  background: #1e1e1e;
  padding: 1em;
  border-radius: 8px;
  color: #f1f1f1;
  overflow-x: auto;
}

#codeBox span.active-line {
  background-color: rgba(255, 215, 0, 0.3);
  border-left: 4px solid gold;
  font-weight: bold;
  transition: all 0.3s ease;
}